body ol ol ol ol,
body ol ol ul ol,
body ol ul ol ol,
body ul ol ol ol,
body ol ul ul ol,
body ul ol ul ol,
body ul ul ol ol,
body ul ul ul ol {
  /* list-style: var(--list-ol-marker-4); */
  list-style-type: decimal-lv2;
}

body ol ol ol ol ol,
body ol ol ol ul ol,
body ol ol ul ol ol,
body ol ul ol ol ol,
body ol ol ul ul ol,
body ol ul ol ul ol,
body ol ul ul ol ol,
body ol ul ul ul ol,
body ul ol ol ol ol,
body ul ol ol ul ol,
body ul ol ul ol ol,
body ul ul ol ol ol,
body ul ol ul ul ol,
body ul ul ol ul ol,
body ul ul ul ol ol,
body ul ul ul ul ol
{
  /* list-style: var(--list-ol-marker-1); */
  list-style-type: lower-latin-lv2;
}

body ol ol ol ol ol ol,
body ol ol ol ol ul ol,
body ol ol ol ul ol ol,
body ol ol ul ol ol ol,
body ol ol ol ul ul ol,
body ol ol ul ol ul ol,
body ol ol ul ul ol ol,
body ol ol ul ul ul ol,
body ol ul ol ol ol ol,
body ol ul ol ol ul ol,
body ol ul ol ul ol ol,
body ol ul ul ol ol ol,
body ol ul ol ul ul ol,
body ol ul ul ol ul ol,
body ol ul ul ul ol ol,
body ol ul ul ul ul ol,
body ul ol ol ol ol ol,
body ul ol ol ol ul ol,
body ul ol ol ul ol ol,
body ul ol ul ol ol ol,
body ul ol ol ul ul ol,
body ul ol ul ol ul ol,
body ul ol ul ul ol ol,
body ul ol ul ul ul ol,
body ul ul ol ol ol ol,
body ul ul ol ol ul ol,
body ul ul ol ul ol ol,
body ul ul ul ol ol ol,
body ul ul ol ul ul ol,
body ul ul ul ol ul ol,
body ul ul ul ul ol ol,
body ul ul ul ul ul ol
{
  list-style-type: lower-roman-lv2;
}
body ol ol ol ol ol ol ol,
body ol ol ol ol ol ul ol,
body ol ol ol ol ul ol ol,
body ol ol ol ul ol ol ol,
body ol ol ol ol ul ul ol,
body ol ol ol ul ol ul ol,
body ol ol ol ul ul ol ol,
body ol ol ol ul ul ul ol,
body ol ol ul ol ol ol ol,
body ol ol ul ol ol ul ol,
body ol ol ul ol ul ol ol,
body ol ol ul ul ol ol ol,
body ol ol ul ol ul ul ol,
body ol ol ul ul ol ul ol,
body ol ol ul ul ul ol ol,
body ol ol ul ul ul ul ol,
body ol ul ol ol ol ol ol,
body ol ul ol ol ol ul ol,
body ol ul ol ol ul ol ol,
body ol ul ol ul ol ol ol,
body ol ul ol ol ul ul ol,
body ol ul ol ul ol ul ol,
body ol ul ol ul ul ol ol,
body ol ul ol ul ul ul ol,
body ol ul ul ol ol ol ol,
body ol ul ul ol ol ul ol,
body ol ul ul ol ul ol ol,
body ol ul ul ul ol ol ol,
body ol ul ul ol ul ul ol,
body ol ul ul ul ol ul ol,
body ol ul ul ul ul ol ol,
body ol ul ul ul ul ul ol,
body ul ol ol ol ol ol ol,
body ul ol ol ol ol ul ol,
body ul ol ol ol ul ol ol,
body ul ol ol ul ol ol ol,
body ul ol ol ol ul ul ol,
body ul ol ol ul ol ul ol,
body ul ol ol ul ul ol ol,
body ul ol ol ul ul ul ol,
body ul ol ul ol ol ol ol,
body ul ol ul ol ol ul ol,
body ul ol ul ol ul ol ol,
body ul ol ul ul ol ol ol,
body ul ol ul ol ul ul ol,
body ul ol ul ul ol ul ol,
body ul ol ul ul ul ol ol,
body ul ol ul ul ul ul ol,
body ul ul ol ol ol ol ol,
body ul ul ol ol ol ul ol,
body ul ul ol ol ul ol ol,
body ul ul ol ul ol ol ol,
body ul ul ol ol ul ul ol,
body ul ul ol ul ol ul ol,
body ul ul ol ul ul ol ol,
body ul ul ol ul ul ul ol,
body ul ul ul ol ol ol ol,
body ul ul ul ol ol ul ol,
body ul ul ul ol ul ol ol,
body ul ul ul ul ol ol ol,
body ul ul ul ol ul ul ol,
body ul ul ul ul ol ul ol,
body ul ul ul ul ul ol ol,
body ul ul ul ul ul ul ol
{
  list-style-type: decimal-lv3;
}
body ol ol ol ol ol ol ol ol,
body ol ol ol ol ol ol ul ol,
body ol ol ol ol ol ul ol ol,
body ol ol ol ol ul ol ol ol,
body ol ol ol ol ol ul ul ol,
body ol ol ol ol ul ol ul ol,
body ol ol ol ol ul ul ol ol,
body ol ol ol ol ul ul ul ol,
body ol ol ol ul ol ol ol ol,
body ol ol ol ul ol ol ul ol,
body ol ol ol ul ol ul ol ol,
body ol ol ol ul ul ol ol ol,
body ol ol ol ul ol ul ul ol,
body ol ol ol ul ul ol ul ol,
body ol ol ol ul ul ul ol ol,
body ol ol ol ul ul ul ul ol,
body ol ol ul ol ol ol ol ol,
body ol ol ul ol ol ol ul ol,
body ol ol ul ol ol ul ol ol,
body ol ol ul ol ul ol ol ol,
body ol ol ul ol ol ul ul ol,
body ol ol ul ol ul ol ul ol,
body ol ol ul ol ul ul ol ol,
body ol ol ul ol ul ul ul ol,
body ol ol ul ul ol ol ol ol,
body ol ol ul ul ol ol ul ol,
body ol ol ul ul ol ul ol ol,
body ol ol ul ul ul ol ol ol,
body ol ol ul ul ol ul ul ol,
body ol ol ul ul ul ol ul ol,
body ol ol ul ul ul ul ol ol,
body ol ol ul ul ul ul ul ol,
body ol ul ol ol ol ol ol ol,
body ol ul ol ol ol ol ul ol,
body ol ul ol ol ol ul ol ol,
body ol ul ol ol ul ol ol ol,
body ol ul ol ol ol ul ul ol,
body ol ul ol ol ul ol ul ol,
body ol ul ol ol ul ul ol ol,
body ol ul ol ol ul ul ul ol,
body ol ul ol ul ol ol ol ol,
body ol ul ol ul ol ol ul ol,
body ol ul ol ul ol ul ol ol,
body ol ul ol ul ul ol ol ol,
body ol ul ol ul ol ul ul ol,
body ol ul ol ul ul ol ul ol,
body ol ul ol ul ul ul ol ol,
body ol ul ol ul ul ul ul ol,
body ol ul ul ol ol ol ol ol,
body ol ul ul ol ol ol ul ol,
body ol ul ul ol ol ul ol ol,
body ol ul ul ol ul ol ol ol,
body ol ul ul ol ol ul ul ol,
body ol ul ul ol ul ol ul ol,
body ol ul ul ol ul ul ol ol,
body ol ul ul ol ul ul ul ol,
body ol ul ul ul ol ol ol ol,
body ol ul ul ul ol ol ul ol,
body ol ul ul ul ol ul ol ol,
body ol ul ul ul ul ol ol ol,
body ol ul ul ul ol ul ul ol,
body ol ul ul ul ul ol ul ol,
body ol ul ul ul ul ul ol ol,
body ol ul ul ul ul ul ul ol,
body ul ol ol ol ol ol ol ol,
body ul ol ol ol ol ol ul ol,
body ul ol ol ol ol ul ol ol,
body ul ol ol ol ul ol ol ol,
body ul ol ol ol ol ul ul ol,
body ul ol ol ol ul ol ul ol,
body ul ol ol ol ul ul ol ol,
body ul ol ol ol ul ul ul ol,
body ul ol ol ul ol ol ol ol,
body ul ol ol ul ol ol ul ol,
body ul ol ol ul ol ul ol ol,
body ul ol ol ul ul ol ol ol,
body ul ol ol ul ol ul ul ol,
body ul ol ol ul ul ol ul ol,
body ul ol ol ul ul ul ol ol,
body ul ol ol ul ul ul ul ol,
body ul ol ul ol ol ol ol ol,
body ul ol ul ol ol ol ul ol,
body ul ol ul ol ol ul ol ol,
body ul ol ul ol ul ol ol ol,
body ul ol ul ol ol ul ul ol,
body ul ol ul ol ul ol ul ol,
body ul ol ul ol ul ul ol ol,
body ul ol ul ol ul ul ul ol,
body ul ol ul ul ol ol ol ol,
body ul ol ul ul ol ol ul ol,
body ul ol ul ul ol ul ol ol,
body ul ol ul ul ul ol ol ol,
body ul ol ul ul ol ul ul ol,
body ul ol ul ul ul ol ul ol,
body ul ol ul ul ul ul ol ol,
body ul ol ul ul ul ul ul ol,
body ul ul ol ol ol ol ol ol,
body ul ul ol ol ol ol ul ol,
body ul ul ol ol ol ul ol ol,
body ul ul ol ol ul ol ol ol,
body ul ul ol ol ol ul ul ol,
body ul ul ol ol ul ol ul ol,
body ul ul ol ol ul ul ol ol,
body ul ul ol ol ul ul ul ol,
body ul ul ol ul ol ol ol ol,
body ul ul ol ul ol ol ul ol,
body ul ul ol ul ol ul ol ol,
body ul ul ol ul ul ol ol ol,
body ul ul ol ul ol ul ul ol,
body ul ul ol ul ul ol ul ol,
body ul ul ol ul ul ul ol ol,
body ul ul ol ul ul ul ul ol,
body ul ul ul ol ol ol ol ol,
body ul ul ul ol ol ol ul ol,
body ul ul ul ol ol ul ol ol,
body ul ul ul ol ul ol ol ol,
body ul ul ul ol ol ul ul ol,
body ul ul ul ol ul ol ul ol,
body ul ul ul ol ul ul ol ol,
body ul ul ul ol ul ul ul ol,
body ul ul ul ul ol ol ol ol,
body ul ul ul ul ol ol ul ol,
body ul ul ul ul ol ul ol ol,
body ul ul ul ul ul ol ol ol,
body ul ul ul ul ol ul ul ol,
body ul ul ul ul ul ol ul ol,
body ul ul ul ul ul ul ol ol,
body ul ul ul ul ul ul ul ol
{
  list-style-type: lower-latin-lv3;
}

body ol>li::marker {
  font-weight: 600;
  color: var(--list-ol-number-color);
  white-space: pre;
  font-family: Inter;
}

:is(ol,ul) li {
  font-size: var(--font-size-list);
}

ol > li::marker {
  color: var(--list-ol-number-color);
}

ol > li.is-collapsed::marker,
ul > li.is-collapsed::marker,
.cm-s-obsidian .is-collapsed ~ .cm-formatting-list {
  color: var(--list-marker-color-collapsed);
}

/********彩虹大纲线片段********/
/* RAINBOW INDENT COLORS from https://gist.github.com/GitMurf/5122c0c8405ffa36a03049d9f4434bf4 */

:root {
  --list-padding: 24px;
}

body :is(ol,ul) :is(ol,ul) {
  position: relative;
}

body :is(ol,ul) :is(ol,ul)::before{
  content: '';
  border-right: 1.5px solid rgba(var(--rainbow-rgb-1), 0.5);
  position: absolute;
  left: -1.1em;
  height: 100%;
}

body .kanban > div:not([data-callout="multi-column"]) :is(ol,ul) ul::before {
  display: none;
}

body :is(.markdown-preview-view,.markdown-rendered):not(.kanban) ul>li:not(.task-list-item) {
  border-left: none !important;
}

body ol>li {
  border-left: none !important;
}

body ol>li::marker {
  font-weight: normal;
  color: var(--text-normal);
}

body.rainbow-checkbox .HyperMD-list-line-1 .cm-formatting-task {
  color: rgb(var(--rainbow-rgb-1)) !important;
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-1 .task-list-item-checkbox[data-task="x"]:checked {
  background-color: rgba(var(--rainbow-rgb-1),0.7);
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-1 .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-1),0.7);
}

body.rainbow-checkbox .HyperMD-list-line-2 .cm-formatting-task {
  color: rgb(var(--rainbow-rgb-2))!important;
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-2 .task-list-item-checkbox[data-task="x"]:checked {
  background-color: rgba(var(--rainbow-rgb-2),0.7);
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-2 .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-2),0.7);
}

body.rainbow-checkbox .HyperMD-list-line-3 .cm-formatting-task {
  color: rgb(var(--rainbow-rgb-3))!important;
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-3 .task-list-item-checkbox[data-task="x"]:checked {
  background-color: rgba(var(--rainbow-rgb-3),0.7);
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-3 .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-3),0.7);
}

body.rainbow-checkbox .HyperMD-list-line-4 .cm-formatting-task {
  color: rgb(var(--rainbow-rgb-4))!important;
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-4 .task-list-item-checkbox[data-task="x"]:checked {
  background-color: rgba(var(--rainbow-rgb-4),0.7);
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-4 .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-4),0.7);
}

body.rainbow-checkbox .HyperMD-list-line-5 .cm-formatting-task {
  color: rgb(var(--rainbow-rgb-5))!important;
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-5 .task-list-item-checkbox[data-task="x"]:checked {
  background-color:  rgba(var(--rainbow-rgb-5),0.7);
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-5 .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-5),0.7);
}

body.rainbow-checkbox .HyperMD-list-line-6 .cm-formatting-task {
  color: rgb(var(--rainbow-rgb-6))!important;
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-6 .task-list-item-checkbox[data-task="x"]:checked {
  background-color: rgba(var(--rainbow-rgb-6),0.7);
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-6 .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-6),0.7);
}

body.rainbow-checkbox .HyperMD-list-line-7 .cm-formatting-task {
  color: rgb(var(--rainbow-rgb-7))!important;
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-7 .task-list-item-checkbox[data-task="x"]:checked {
  background-color: rgba(var(--rainbow-rgb-7),0.7);
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-7 .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-7),0.7);
}

body.rainbow-checkbox .HyperMD-list-line-8 .cm-formatting-task {
  color: rgb(var(--rainbow-rgb-8))!important;
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-8 .task-list-item-checkbox[data-task="x"]:checked {
  background-color: rgba(var(--rainbow-rgb-8),0.7);
}
body.rainbow-checkbox .mod-cm6 .HyperMD-list-line-8 .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-8),0.7);
}

/*预览模式
/*无序列表 任务框*/
/* body.rainbow-checkbox ul li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-1),0.5);
}
body.rainbow-checkbox ul ul li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-2),0.5);
}
body.rainbow-checkbox ul ul ul li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-3),0.5);
}
body.rainbow-checkbox ul ul ul ul li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-4),0.5);
}
body.rainbow-checkbox ul ul ul ul ul  li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-5),0.5);
}
body.rainbow-checkbox  ul ul ul ul ul ul li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-6),0.5);
}
body.rainbow-checkbox  ul ul ul ul ul ul ul li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-7),0.5);
}
body.rainbow-checkbox  ul ul ul ul ul ul ul ul li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-8),0.5);
} */

/*无序列表 大纲线*/
body ol::before {
  border-color: rgba(var(--rainbow-rgb-8),0.3) !important;
}
body ul ul::before {
  border-color: rgba(var(--rainbow-rgb-1),0.3) !important;
}
body li ul ul::before {
  border-color: rgba(var(--rainbow-rgb-2),0.3) !important;
}
body li ul ul ul::before {
  border-color: rgba(var(--rainbow-rgb-3),0.3) !important;
}
body li ul ul ul ul::before {
  border-color: rgba(var(--rainbow-rgb-4),0.3) !important;
}
body li ul ul ul ul ul::before {
  border-color: rgba(var(--rainbow-rgb-5),0.3) !important;
}
body li ul ul ul ul ul ul::before {
  border-color: rgba(var(--rainbow-rgb-6),0.3) !important;
}
body li ul ul ul ul ul ul ul::before {
  border-color: rgba(var(--rainbow-rgb-7),0.3) !important;
}
body li ul ul ul ul ul ul ul ul::before {
  border-color: rgba(var(--rainbow-rgb-8),0.3) !important;
}
body li ul ul ul ul ul ul ul ul ul::before {
  border-color: rgba(var(--rainbow-rgb-1),0.3) !important;
}

/*任务有序列表 大纲线*/
body ul::before {
  border-color: rgba(var(--rainbow-rgb-8),0.3) !important;
}
body ol ol::before {
  border-color: rgba(var(--rainbow-rgb-1),0.3) !important;
}
body li ol ol::before {
  border-color: rgba(var(--rainbow-rgb-2),0.3) !important;
}
body li ol ol ol::before {
  border-color: rgba(var(--rainbow-rgb-3),0.3) !important;
}
body li ol ol ol ol::before {
  border-color: rgba(var(--rainbow-rgb-4),0.3) !important;
}
body li ol ol ol ol ol::before {
  border-color: rgba(var(--rainbow-rgb-5),0.3) !important;
}
body li ol ol ol ol ol ol::before {
  border-color: rgba(var(--rainbow-rgb-6),0.3) !important;
}
body li ol ol ol ol ol ol ol::before {
  border-color: rgba(var(--rainbow-rgb-7),0.5) !important;
}
body li ol ol ol ol ol ol ol ol::before {
  border-color: rgba(var(--rainbow-rgb-8),0.5) !important;
}
body li ol ol ol ol ol ol ol ol::before {
  border-color: rgba(var(--rainbow-rgb-1),0.5) !important;
}

/*任务有序列表 选择框*/
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li[data-task="x"] .task-list-item-checkbox:checked {
  background-color: rgb(var(--rainbow-rgb-1),0.7);
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li[data-task="x"] .task-list-item-checkbox:checked {
  background-color: rgb(var(--rainbow-rgb-2),0.7)!important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li[data-task="x"] .task-list-item-checkbox:checked {
  background-color: rgb(var(--rainbow-rgb-3),0.7)!important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li[data-task="x"] .task-list-item-checkbox:checked {
  background-color: rgb(var(--rainbow-rgb-4),0.7)!important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li li[data-task="x"] .task-list-item-checkbox:checked {
  background-color: rgb(var(--rainbow-rgb-5),0.7)!important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li li li[data-task="x"] .task-list-item-checkbox:checked {
  background-color: rgb(var(--rainbow-rgb-6),0.7)!important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li li li li[data-task="x"] .task-list-item-checkbox:checked {
  background-color: rgb(var(--rainbow-rgb-7),0.7)!important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li li li li li[data-task="x"] .task-list-item-checkbox:checked {
  background-color: rgb(var(--rainbow-rgb-8),0.7)!important;
}

/*任务有序列表 选择框未选择*/
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-1)) !important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-2)) !important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-3)) !important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-4)) !important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-5)) !important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li li li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-6)) !important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li li li li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-7)) !important;
}
body.rainbow-checkbox :is(.markdown-preview-view,.markdown-rendered) li li li li li li li li .task-list-item-checkbox {
  border-color: rgba(var(--rainbow-rgb-8)) !important;
}

body :is(.markdown-preview-view,.markdown-rendered) li .list-collapse-indicator.collapse-indicator.collapse-icon::before {
  color: rgb(var(--rainbow-rgb-1));
}
body :is(.markdown-preview-view,.markdown-rendered) li li .list-collapse-indicator.collapse-indicator.collapse-icon::before {
  color: rgb(var(--rainbow-rgb-2));
}
body :is(.markdown-preview-view,.markdown-rendered) li li li .list-collapse-indicator.collapse-indicator.collapse-icon::before {
  color: rgb(var(--rainbow-rgb-3));
}
body :is(.markdown-preview-view,.markdown-rendered) li li li li .list-collapse-indicator.collapse-indicator.collapse-icon::before {
  color: rgb(var(--rainbow-rgb-4));
}
body :is(.markdown-preview-view,.markdown-rendered) li li li li li .list-collapse-indicator.collapse-indicator.collapse-icon::before {
  color: rgb(var(--rainbow-rgb-5));
}
body :is(.markdown-preview-view,.markdown-rendered) li li li li li li .list-collapse-indicator.collapse-indicator.collapse-icon::before {
  color: rgb(var(--rainbow-rgb-6));
}
body :is(.markdown-preview-view,.markdown-rendered) li li li li li li li .list-collapse-indicator.collapse-indicator.collapse-icon::before {
  color: rgb(var(--rainbow-rgb-7));
}
body :is(.markdown-preview-view,.markdown-rendered) li li li li li li li li .list-collapse-indicator.collapse-indicator.collapse-icon::before {
  color: rgb(var(--rainbow-rgb-8));
}

/*===========*/
:is(h1, h2, h3, h4, h5, h6) :is(b, strong) {
  font-weight: bold;
}

:is(.markdown-preview-view,.markdown-rendered) :is(b,strong),
.view-header-title {
  font-weight: bold;
}

span.cm-strong,
:not(font)>strong,
.cm-s-obsidian .cm-highlight.cm-strong {
  font-weight: var(--font-weight-strong);
}

span.cm-strong,
:not(font)>strong,
.cm-s-obsidian .cm-highlight.cm-strong {
  color: var(--accent-strong) !important;
  font-family: var(--font-family-strong) !important;
}

font>strong {
  font-family: var(--font-family-strong) !important;
}

span.cm-em,
span.cm-em.cm-highlight,
span.cm-em.cm-quote,
span.cm-em.cm-highlight.cm-quote,
:is(.markdown-preview-view,.markdown-rendered) :not(font):not(strong)>em,
:is(.markdown-preview-view,.markdown-rendered) em>mark {
  color: var(--accent-em);
  font-family: var(--font-family-em);
  font-style: var(--font-style-em);
}

*:not(font)>em>strong,
*:not(font)>strong>em,
.cm-strong.cm-em {
  padding-right: 0.05em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #f55454;
  background-image: linear-gradient(120deg, var(--strong-em-color-1) 0%, var(--strong-em-color-2) 80%);
  font-family: var(--font-family-strong) !important;
}

:is(.markdown-preview-view,.markdown-rendered) :not(font)>strong>em>mark {
  background-color: var(--mark-highlight-strong-em);
  padding: 1px 3px;
  border-radius: var(--radius-xs);
}

em>strong>font,
strong>em>font,
strong>em>mark>font {
  background-image: initial;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-color: initial;
}

