// ── Titlebar button order ───────────────────────────────────────────────────
/*ob关闭按钮顺序调整*/
body.is-hidden-frameless:not(.is-fullscreen).is-focused .titlebar-button-container.mod-right {
  background-color:transparent;
}


// ── Heading inline elements (sup / sub / hashtag inside h1–h6) ─────────────
/* head-tag-style*/

body :is(.cm-header) +.cm-widgetBuffer + .cm-html-embed>sup {
  background-color: var(--text-accent-hover);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  line-height: calc(var(--paragraph-spacing) + 0.7);
  margin-left: 0.5em;
  letter-spacing: .1em;
  font-family:  var(--font-default);
}
body :is(.cm-header) +.cm-widgetBuffer + .cm-html-embed>sub {
  background-color: var( --simple-orange);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  line-height: calc(var(--paragraph-spacing) + 0.7);
  margin-left: 0.5em;
  letter-spacing: .1em;
  font-family: var(--font-default);
}

body :is(.markdown-preview-view,.markdown-rendered) :is(h1,h2,h3,h4,h5,h6) sup {
  background-color: var(--text-accent-hover);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  margin-left: 0.5em;
  letter-spacing: .1em;
  margin-top: -0.2em;
  line-height: calc(var(--line-height-main) - 0.7);
}

body :is(.markdown-preview-view,.markdown-rendered) :is(h1,h2,h3,h4,h5,h6) sub {
  background-color: var( --simple-orange);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  margin-left: 0.5em;
  letter-spacing: .1em;
  margin-top: -0.2em;
  line-height: calc(var(--line-height-main) - 0.7);
}
body :is(.markdown-preview-view,.markdown-rendered) :is(h1,h2,h3,h4,h5,h6) :is(sub,sup)>.tag:not(.token) {
  padding: 0;
  background-color: transparent;
}

body .cm-s-obsidian .cm-header ~  span.cm-hashtag {
  font-size: calc(var(--font-size-tag) - 0.3em)!important;
  vertical-align: top;
}
body .cm-s-obsidian .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-header,
body .cm-s-obsidian .cm-hashtag.cm-header {
  vertical-align: top;
}


body :is(.markdown-preview-view,.markdown-rendered) :is(h1,h2,h3,h4,h5,h6) >.tag:not(.token) {
  font-size: calc(var(--font-size-tag) - 0.3em);
  vertical-align: top;
}

.cm-s-obsidian
.cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-header,
.cm-s-obsidian .cm-hashtag.cm-header {
  font-size: calc(var(--font-size-tag) - 0.3em)!important;
  vertical-align: middle;
  margin-top: -0.3em;
}



body .cm-s-obsidian .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-header,
body .cm-s-obsidian .cm-hashtag.cm-header {
  vertical-align: top;
}


:is(.markdown-preview-view,.markdown-rendered) :is(h1,h2,h3,h4,h5,h6) >.tag:not(.token) {
  font-size: calc(var(--font-size-tag) - 0.2em);
  vertical-align: middle;
}


// ── Selection + clickable icon chrome ────────────────────────────────────────
body.markdown-source-view.mod-cm6 .cm-editor .cm-selectionBackground {
  background: transparent;
}

.clickable-icon.is-active,
.clickable-icon.has-active-menu,
.clickable-icon:active,
.clickable-icon:hover {
  background-color: var(--cerulean);
  color: var(--electric-blue-2);
}

.workspace.is-left-sidedock-open .workspace-ribbon.side-dock-ribbon.mod-left .sidebar-toggle-button .clickable-icon,
.workspace-split.mod-horizontal .sidebar-toggle-button .clickable-icon,
.workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right .clickable-icon {
  color: var(--electric-blue);
}

.view-header-nav-buttons .clickable-icon[aria-disabled='true'] {
  color: var(--electric-blue-2);
  opacity: unset;
}

.view-header-nav-buttons .clickable-icon[aria-disabled='true']:hover {
  color: var(--bleu-de-france);
}

// ── Tab headers ──────────────────────────────────────────────────────────────
.workspace-tabs .view-header {
  margin: 0;
  padding: 0 var(--size-4-2);
}

.workspace-split.mod-root .workspace-tab-header.is-active {
  border: none;
  z-index: var(--layer-popover);
  color: var(--text-normal);
  box-shadow: var(--window-shadow);
}
.is-mobile  .workspace-split.mod-root .workspace-tab-header.is-active.mod-active
{
  z-index: 29;
}

.is-focused .workspace-tab-header {
  color: var(--vivid-sky-blue);
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header {
  background-color: var(--background-primary);
  border-right: 1px solid var(--page-border-bottom);
  box-shadow: -1px 0 10px 0 var(--tab-stacked-shadow);
  backdrop-filter: blur(6px);
}
.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header:first-child {
  border-left: 1px solid var(--page-border-bottom);
}

.titlebar-button:hover {
  background-color: unset;
}


// ── List bullets (multicolor, nested levels) ─────────────────────────────────
.list-bullet::before {
  display: none;
}

.markdown-rendered .list-bullet::after {
  content: '\2022';
  font-size: var(--list-ul-marker-size);
  font-family: Inter;
  width: unset;
  height: unset;
  border: none;
  background: transparent;
  color: var(--list-ul-marker-color);
  margin-left: 0.13em;
  margin-top: calc(0.466em * var(--line-height-list) - 0.286em);
  line-height: 0.55;
  transition: all 0.15s ease;
}

.list-bullet::after {
  content: '\2022';
  font-size: var(--list-ul-marker-size);
  font-family: Inter;
  width: unset;
  border: none;
  background: transparent;
  color: var(--list-ul-marker-color);
/*   margin-left: -0.03em;
  margin-top: -0.15em; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 43%;
  transition: all 0.15s ease;
}

.has-list-bullet .list-bullet::after,
.has-list-bullet .has-list-bullet .list-bullet::after,
.has-list-bullet .has-list-bullet .has-list-bullet .list-bullet::after,
.has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .list-bullet::after {
  top: 0;
}

.markdown-source-view.mod-cm6 .cm-indent::before {
  width: 0;
}

/* 
colorful indentation lines in editing mode
*/

body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(1)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-1), 0.5);
}
body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(2)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-2), 0.5);
}
body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(3)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-3), 0.5);
}
body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(4)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-4), 0.5);
}
body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(5)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-5), 0.5);
}
body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(6)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-6), 0.5);
}
body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(7)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-7), 0.5);
}
body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(8)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-8), 0.5);
}
body-source .markdown-source-view.mod-cm6 span[class*="cm-hmd-list-indent-"]
.cm-indent:nth-of-type(9)::before {
  border-right: 1px solid rgba(var(--rainbow-rgb-1), 0.5);
}

.is-focused .mod-active .workspace-tab-header.is-active
.workspace-tab-header-inner-icon {
  color: var(--theme-color);
}

.workspace-ribbon.mod-left {
  margin-top: calc(var(--header-height)*0.98);
}

/* .has-list-bullet .list-bullet:after {
  margin-left: -10px;
} */

.list-collapse-indicator:hover ~ .list-bullet:after,
.cm-fold-indicator:hover ~ .list-bullet:after,
.list-collapse-indicator:hover ~ .cm-formatting-list .list-bullet:after,
.cm-fold-indicator:hover ~ .cm-formatting-list .list-bullet:after {
  box-shadow: -0.02em 0.058em 0 2px var(--background-modifier-hover);
  background-color: var(--background-modifier-hover);
}

li.is-collapsed .list-collapse-indicator:hover ~ .list-bullet:after,
li.is-collapsed .cm-fold-indicator:hover ~ .list-bullet:after,
.list-collapse-indicator:hover.is-collapsed ~ .list-bullet:after,
.cm-fold-indicator:hover.is-collapsed ~ .list-bullet:after,
li.is-collapsed .list-collapse-indicator:hover ~ .cm-formatting-list .list-bullet:after,
li.is-collapsed .cm-fold-indicator:hover ~ .cm-formatting-list .list-bullet:after,
.list-collapse-indicator:hover.is-collapsed ~ .cm-formatting-list .list-bullet:after,
.cm-fold-indicator:hover.is-collapsed ~ .cm-formatting-list .list-bullet:after,
li.is-collapsed .list-bullet:after,
.is-collapsed ~ .cm-formatting-list .list-bullet:after,
.markdown-rendered .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .is-collapsed .list-bullet::after {
  color: var(--list-marker-color-collapsed);
  box-shadow: -0.02em 0.058em 0 2px var(--background-modifier-active-hover);
  background-color: var(--background-modifier-active-hover);
}



// ── List bullet collapse + level overrides ───────────────────────────────────
body .markdown-source-view.mod-cm6 .list-bullet::after {
  content: var(--list-ul-colorful-marker-content);
}

body .has-list-bullet .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-1.cm-line div.cm-fold-indicator ~ span.cm-formatting .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-1.cm-line>span.cm-formatting:first-of-type .list-bullet::after {
  color: var(--list-colorful-marker-1);
}

body .has-list-bullet .has-list-bullet .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-2.cm-line div.cm-fold-indicator ~ span.cm-formatting .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-2.cm-line span.cm-hmd-list-indent ~ span.cm-formatting .list-bullet::after {
  color: var(--list-colorful-marker-2);
}
body .has-list-bullet .has-list-bullet .has-list-bullet .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-3.cm-line div.cm-fold-indicator ~ span.cm-formatting .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-3.cm-line span.cm-hmd-list-indent ~ span.cm-formatting .list-bullet::after {
  color: var(--list-colorful-marker-3);
}
body .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-4.cm-line div.cm-fold-indicator ~ span.cm-formatting .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-4.cm-line span.cm-hmd-list-indent ~ span.cm-formatting .list-bullet::after {
  color: var(--list-colorful-marker-4);
}
body .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-5.cm-line div.cm-fold-indicator ~ span.cm-formatting .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-5.cm-line span.cm-hmd-list-indent ~ span.cm-formatting .list-bullet::after {
  color: var(--list-colorful-marker-5);
}
body .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-6.cm-line div.cm-fold-indicator ~ span.cm-formatting .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-6.cm-line span.cm-hmd-list-indent ~ span.cm-formatting .list-bullet::after {
  color: var(--list-colorful-marker-6);
}
body .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-7.cm-line div.cm-fold-indicator ~ span.cm-formatting .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-7.cm-line span.cm-hmd-list-indent ~ span.cm-formatting .list-bullet::after {
  color: var(--list-colorful-marker-7);
}
body .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-8.cm-line div.cm-fold-indicator ~ span.cm-formatting .list-bullet::after,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-8.cm-line span.cm-hmd-list-indent ~ span.cm-formatting .list-bullet::after {
  color: var(--list-colorful-marker-8);
}

body li.is-collapsed .list-collapse-indicator:hover ~ .list-bullet:after,
body li.is-collapsed .cm-fold-indicator:hover ~ .list-bullet:after,
body .list-collapse-indicator:hover.is-collapsed ~ .list-bullet:after,
body .cm-fold-indicator:hover.is-collapsed ~ .list-bullet:after,
body li.is-collapsed .list-collapse-indicator:hover ~ .cm-formatting-list .list-bullet:after,
body li.is-collapsed .cm-fold-indicator:hover ~ .cm-formatting-list .list-bullet:after,
body .list-collapse-indicator:hover.is-collapsed ~ .cm-formatting-list .list-bullet:after,
body .cm-fold-indicator:hover.is-collapsed ~ .cm-formatting-list .list-bullet:after,

body li.is-collapsed .list-bullet:after,
body .is-collapsed ~ .cm-formatting-list .list-bullet:after,
body .markdown-rendered .has-list-bullet .has-list-bullet .has-list-bullet .has-list-bullet .is-collapsed .list-bullet::after {
  color: var(--list-marker-color-collapsed);
  box-shadow: -0.02em 0.058em 0 2px var(--background-modifier-active-hover);
  background-color: var(--background-modifier-active-hover);
}

.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  content: "\200B";
  position: absolute;
  display: block;
  left: -1em;
  top: 0;
  bottom: 0;
  border-right: var(--indentation-guide-width) solid var(--indentation-guide-color);
}







// ── Ordered list markers ─────────────────────────────────────────────────────
body ol li::marker,
body ol li::before,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-1.cm-line div.cm-fold-indicator ~ span.cm-formatting.cm-formatting-list-ol,
body .cm-formatting.cm-formatting-list.cm-formatting-list-ol,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-1.cm-line span.cm-hmd-list-indent ~ span.cm-formatting.cm-formatting-list-ol {
  color: var(--list-colorful-marker-1);
}

body ol ol li::marker,
body ul ol li::marker {
  color: var(--list-colorful-marker-2);
}
body ol ol li::before,
body ul ol li::before,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-2.cm-line div.cm-fold-indicator ~ span.cm-formatting.cm-formatting-list-ol,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-2.cm-line span.cm-hmd-list-indent ~ span.cm-formatting.cm-formatting-list-ol {
  color: var(--list-colorful-marker-2);
}

body ol ol ol li::marker,
body ol ul ol li::marker,
body ul ul ol li::marker,
body ul ol ol li::marker {
  color: var(--list-colorful-marker-3);
}
body ol ol ol li::before,
body ol ul ol li::before,
body ul ul ol li::before,
body ul ol ol li::before,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-3.cm-line div.cm-fold-indicator ~ span.cm-formatting.cm-formatting-list-ol,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-3.cm-line span.cm-hmd-list-indent ~ span.cm-formatting.cm-formatting-list-ol {
  color: var(--list-colorful-marker-3);
}

body ol ol ol ol li::marker,
body ol ol ul ol li::marker,
body ol ul ol ol li::marker,
body ul ol ol ol li::marker,
body ol ul ul ol li::marker,
body ul ol ul ol li::marker,
body ul ul ol ol li::marker,
body ul ul ul ol li::marker {
  color: var(--list-colorful-marker-4);
}
body ol ol ol ol li::before,
body ol ol ul ol li::before,
body ol ul ol ol li::before,
body ul ol ol ol li::before,
body ol ul ul ol li::before,
body ul ol ul ol li::before,
body ul ul ol ol li::before,
body ul ul ul ol li::before,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-4.cm-line div.cm-fold-indicator ~ span.cm-formatting.cm-formatting-list-ol,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-4.cm-line span.cm-hmd-list-indent ~ span.cm-formatting.cm-formatting-list-ol {
  color: var(--list-colorful-marker-4);
}

body ol ol ol ol ol li::marker,
body ol ol ol ul ol li::marker,
body ol ol ul ol ol li::marker,
body ol ul ol ol ol li::marker,
body ol ol ul ul ol li::marker,
body ol ul ol ul ol li::marker,
body ol ul ul ol ol li::marker,
body ol ul ul ul ol li::marker,
body ul ol ol ol ol li::marker,
body ul ol ol ul ol li::marker,
body ul ol ul ol ol li::marker,
body ul ul ol ol ol li::marker,
body ul ol ul ul ol li::marker,
body ul ul ol ul ol li::marker,
body ul ul ul ol ol li::marker,
body ul ul ul ul ol li::marker {
  color: var(--list-colorful-marker-5);
}
body ol ol ol ol ol li::before,
body ol ol ol ul ol li::before,
body ol ol ul ol ol li::before,
body ol ul ol ol ol li::before,
body ol ol ul ul ol li::before,
body ol ul ol ul ol li::before,
body ol ul ul ol ol li::before,
body ol ul ul ul ol li::before,
body ul ol ol ol ol li::before,
body ul ol ol ul ol li::before,
body ul ol ul ol ol li::before,
body ul ul ol ol ol li::before,
body ul ol ul ul ol li::before,
body ul ul ol ul ol li::before,
body ul ul ul ol ol li::before,
body ul ul ul ul ol li::before,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-5.cm-line div.cm-fold-indicator ~ span.cm-formatting.cm-formatting-list-ol,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-5.cm-line span.cm-hmd-list-indent ~ span.cm-formatting.cm-formatting-list-ol {
  color: var(--list-colorful-marker-5);
}

body ol ol ol ol ol ol li::marker,
body ol ol ol ol ul ol li::marker,
body ol ol ol ul ol ol li::marker,
body ol ol ul ol ol ol li::marker,
body ol ol ol ul ul ol li::marker,
body ol ol ul ol ul ol li::marker,
body ol ol ul ul ol ol li::marker,
body ol ol ul ul ul ol li::marker,
body ol ul ol ol ol ol li::marker,
body ol ul ol ol ul ol li::marker,
body ol ul ol ul ol ol li::marker,
body ol ul ul ol ol ol li::marker,
body ol ul ol ul ul ol li::marker,
body ol ul ul ol ul ol li::marker,
body ol ul ul ul ol ol li::marker,
body ol ul ul ul ul ol li::marker,
body ul ol ol ol ol ol li::marker,
body ul ol ol ol ul ol li::marker,
body ul ol ol ul ol ol li::marker,
body ul ol ul ol ol ol li::marker,
body ul ol ol ul ul ol li::marker,
body ul ol ul ol ul ol li::marker,
body ul ol ul ul ol ol li::marker,
body ul ol ul ul ul ol li::marker,
body ul ul ol ol ol ol li::marker,
body ul ul ol ol ul ol li::marker,
body ul ul ol ul ol ol li::marker,
body ul ul ul ol ol ol li::marker,
body ul ul ol ul ul ol li::marker,
body ul ul ul ol ul ol li::marker,
body ul ul ul ul ol ol li::marker,
body ul ul ul ul ul ol li::marker {
  color: var(--list-colorful-marker-6);
}

body ol ol ol ol ol ol li::before,
body ol ol ol ol ul ol li::before,
body ol ol ol ul ol ol li::before,
body ol ol ul ol ol ol li::before,
body ol ol ol ul ul ol li::before,
body ol ol ul ol ul ol li::before,
body ol ol ul ul ol ol li::before,
body ol ol ul ul ul ol li::before,
body ol ul ol ol ol ol li::before,
body ol ul ol ol ul ol li::before,
body ol ul ol ul ol ol li::before,
body ol ul ul ol ol ol li::before,
body ol ul ol ul ul ol li::before,
body ol ul ul ol ul ol li::before,
body ol ul ul ul ol ol li::before,
body ol ul ul ul ul ol li::before,
body ul ol ol ol ol ol li::before,
body ul ol ol ol ul ol li::before,
body ul ol ol ul ol ol li::before,
body ul ol ul ol ol ol li::before,
body ul ol ol ul ul ol li::before,
body ul ol ul ol ul ol li::before,
body ul ol ul ul ol ol li::before,
body ul ol ul ul ul ol li::before,
body ul ul ol ol ol ol li::before,
body ul ul ol ol ul ol li::before,
body ul ul ol ul ol ol li::before,
body ul ul ul ol ol ol li::before,
body ul ul ol ul ul ol li::before,
body ul ul ul ol ul ol li::before,
body ul ul ul ul ol ol li::before,
body ul ul ul ul ul ol li::before,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-6.cm-line div.cm-fold-indicator ~ span.cm-formatting.cm-formatting-list-ol,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-6.cm-line span.cm-hmd-list-indent ~ span.cm-formatting.cm-formatting-list-ol {
  color: var(--list-colorful-marker-6);
}

body ol ol ol ol ol ol ol li::marker,
body ol ol ol ol ol ul ol li::marker,
body ol ol ol ol ul ol ol li::marker,
body ol ol ol ul ol ol ol li::marker,
body ol ol ol ol ul ul ol li::marker,
body ol ol ol ul ol ul ol li::marker,
body ol ol ol ul ul ol ol li::marker,
body ol ol ol ul ul ul ol li::marker,
body ol ol ul ol ol ol ol li::marker,
body ol ol ul ol ol ul ol li::marker,
body ol ol ul ol ul ol ol li::marker,
body ol ol ul ul ol ol ol li::marker,
body ol ol ul ol ul ul ol li::marker,
body ol ol ul ul ol ul ol li::marker,
body ol ol ul ul ul ol ol li::marker,
body ol ol ul ul ul ul ol li::marker,
body ol ul ol ol ol ol ol li::marker,
body ol ul ol ol ol ul ol li::marker,
body ol ul ol ol ul ol ol li::marker,
body ol ul ol ul ol ol ol li::marker,
body ol ul ol ol ul ul ol li::marker,
body ol ul ol ul ol ul ol li::marker,
body ol ul ol ul ul ol ol li::marker,
body ol ul ol ul ul ul ol li::marker,
body ol ul ul ol ol ol ol li::marker,
body ol ul ul ol ol ul ol li::marker,
body ol ul ul ol ul ol ol li::marker,
body ol ul ul ul ol ol ol li::marker,
body ol ul ul ol ul ul ol li::marker,
body ol ul ul ul ol ul ol li::marker,
body ol ul ul ul ul ol ol li::marker,
body ol ul ul ul ul ul ol li::marker,
body ul ol ol ol ol ol ol li::marker,
body ul ol ol ol ol ul ol li::marker,
body ul ol ol ol ul ol ol li::marker,
body ul ol ol ul ol ol ol li::marker,
body ul ol ol ol ul ul ol li::marker,
body ul ol ol ul ol ul ol li::marker,
body ul ol ol ul ul ol ol li::marker,
body ul ol ol ul ul ul ol li::marker,
body ul ol ul ol ol ol ol li::marker,
body ul ol ul ol ol ul ol li::marker,
body ul ol ul ol ul ol ol li::marker,
body ul ol ul ul ol ol ol li::marker,
body ul ol ul ol ul ul ol li::marker,
body ul ol ul ul ol ul ol li::marker,
body ul ol ul ul ul ol ol li::marker,
body ul ol ul ul ul ul ol li::marker,
body ul ul ol ol ol ol ol li::marker,
body ul ul ol ol ol ul ol li::marker,
body ul ul ol ol ul ol ol li::marker,
body ul ul ol ul ol ol ol li::marker,
body ul ul ol ol ul ul ol li::marker,
body ul ul ol ul ol ul ol li::marker,
body ul ul ol ul ul ol ol li::marker,
body ul ul ol ul ul ul ol li::marker,
body ul ul ul ol ol ol ol li::marker,
body ul ul ul ol ol ul ol li::marker,
body ul ul ul ol ul ol ol li::marker,
body ul ul ul ul ol ol ol li::marker,
body ul ul ul ol ul ul ol li::marker,
body ul ul ul ul ol ul ol li::marker,
body ul ul ul ul ul ol ol li::marker,
body ul ul ul ul ul ul ol li::marker {
  color: var(--list-colorful-marker-7);
}


body ol ol ol ol ol ol ol li::before,
body ol ol ol ol ol ul ol li::before,
body ol ol ol ol ul ol ol li::before,
body ol ol ol ul ol ol ol li::before,
body ol ol ol ol ul ul ol li::before,
body ol ol ol ul ol ul ol li::before,
body ol ol ol ul ul ol ol li::before,
body ol ol ol ul ul ul ol li::before,
body ol ol ul ol ol ol ol li::before,
body ol ol ul ol ol ul ol li::before,
body ol ol ul ol ul ol ol li::before,
body ol ol ul ul ol ol ol li::before,
body ol ol ul ol ul ul ol li::before,
body ol ol ul ul ol ul ol li::before,
body ol ol ul ul ul ol ol li::before,
body ol ol ul ul ul ul ol li::before,
body ol ul ol ol ol ol ol li::before,
body ol ul ol ol ol ul ol li::before,
body ol ul ol ol ul ol ol li::before,
body ol ul ol ul ol ol ol li::before,
body ol ul ol ol ul ul ol li::before,
body ol ul ol ul ol ul ol li::before,
body ol ul ol ul ul ol ol li::before,
body ol ul ol ul ul ul ol li::before,
body ol ul ul ol ol ol ol li::before,
body ol ul ul ol ol ul ol li::before,
body ol ul ul ol ul ol ol li::before,
body ol ul ul ul ol ol ol li::before,
body ol ul ul ol ul ul ol li::before,
body ol ul ul ul ol ul ol li::before,
body ol ul ul ul ul ol ol li::before,
body ol ul ul ul ul ul ol li::before,
body ul ol ol ol ol ol ol li::before,
body ul ol ol ol ol ul ol li::before,
body ul ol ol ol ul ol ol li::before,
body ul ol ol ul ol ol ol li::before,
body ul ol ol ol ul ul ol li::before,
body ul ol ol ul ol ul ol li::before,
body ul ol ol ul ul ol ol li::before,
body ul ol ol ul ul ul ol li::before,
body ul ol ul ol ol ol ol li::before,
body ul ol ul ol ol ul ol li::before,
body ul ol ul ol ul ol ol li::before,
body ul ol ul ul ol ol ol li::before,
body ul ol ul ol ul ul ol li::before,
body ul ol ul ul ol ul ol li::before,
body ul ol ul ul ul ol ol li::before,
body ul ol ul ul ul ul ol li::before,
body ul ul ol ol ol ol ol li::before,
body ul ul ol ol ol ul ol li::before,
body ul ul ol ol ul ol ol li::before,
body ul ul ol ul ol ol ol li::before,
body ul ul ol ol ul ul ol li::before,
body ul ul ol ul ol ul ol li::before,
body ul ul ol ul ul ol ol li::before,
body ul ul ol ul ul ul ol li::before,
body ul ul ul ol ol ol ol li::before,
body ul ul ul ol ol ul ol li::before,
body ul ul ul ol ul ol ol li::before,
body ul ul ul ul ol ol ol li::before,
body ul ul ul ol ul ul ol li::before,
body ul ul ul ul ol ul ol li::before,
body ul ul ul ul ul ol ol li::before,
body ul ul ul ul ul ul ol li::before,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-7.cm-line div.cm-fold-indicator ~ span.cm-formatting.cm-formatting-list-ol,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-7.cm-line span.cm-hmd-list-indent ~ span.cm-formatting.cm-formatting-list-ol {
  color: var(--list-colorful-marker-7);
}

body ol ol ol ol ol ol ol ol li::before,
body ol ol ol ol ol ol ul ol li::before,
body ol ol ol ol ol ul ol ol li::before,
body ol ol ol ol ul ol ol ol li::before,
body ol ol ol ol ol ul ul ol li::before,
body ol ol ol ol ul ol ul ol li::before,
body ol ol ol ol ul ul ol ol li::before,
body ol ol ol ol ul ul ul ol li::before,
body ol ol ol ul ol ol ol ol li::before,
body ol ol ol ul ol ol ul ol li::before,
body ol ol ol ul ol ul ol ol li::before,
body ol ol ol ul ul ol ol ol li::before,
body ol ol ol ul ol ul ul ol li::before,
body ol ol ol ul ul ol ul ol li::before,
body ol ol ol ul ul ul ol ol li::before,
body ol ol ol ul ul ul ul ol li::before,
body ol ol ul ol ol ol ol ol li::before,
body ol ol ul ol ol ol ul ol li::before,
body ol ol ul ol ol ul ol ol li::before,
body ol ol ul ol ul ol ol ol li::before,
body ol ol ul ol ol ul ul ol li::before,
body ol ol ul ol ul ol ul ol li::before,
body ol ol ul ol ul ul ol ol li::before,
body ol ol ul ol ul ul ul ol li::before,
body ol ol ul ul ol ol ol ol li::before,
body ol ol ul ul ol ol ul ol li::before,
body ol ol ul ul ol ul ol ol li::before,
body ol ol ul ul ul ol ol ol li::before,
body ol ol ul ul ol ul ul ol li::before,
body ol ol ul ul ul ol ul ol li::before,
body ol ol ul ul ul ul ol ol li::before,
body ol ol ul ul ul ul ul ol li::before,
body ol ul ol ol ol ol ol ol li::before,
body ol ul ol ol ol ol ul ol li::before,
body ol ul ol ol ol ul ol ol li::before,
body ol ul ol ol ul ol ol ol li::before,
body ol ul ol ol ol ul ul ol li::before,
body ol ul ol ol ul ol ul ol li::before,
body ol ul ol ol ul ul ol ol li::before,
body ol ul ol ol ul ul ul ol li::before,
body ol ul ol ul ol ol ol ol li::before,
body ol ul ol ul ol ol ul ol li::before,
body ol ul ol ul ol ul ol ol li::before,
body ol ul ol ul ul ol ol ol li::before,
body ol ul ol ul ol ul ul ol li::before,
body ol ul ol ul ul ol ul ol li::before,
body ol ul ol ul ul ul ol ol li::before,
body ol ul ol ul ul ul ul ol li::before,
body ol ul ul ol ol ol ol ol li::before,
body ol ul ul ol ol ol ul ol li::before,
body ol ul ul ol ol ul ol ol li::before,
body ol ul ul ol ul ol ol ol li::before,
body ol ul ul ol ol ul ul ol li::before,
body ol ul ul ol ul ol ul ol li::before,
body ol ul ul ol ul ul ol ol li::before,
body ol ul ul ol ul ul ul ol li::before,
body ol ul ul ul ol ol ol ol li::before,
body ol ul ul ul ol ol ul ol li::before,
body ol ul ul ul ol ul ol ol li::before,
body ol ul ul ul ul ol ol ol li::before,
body ol ul ul ul ol ul ul ol li::before,
body ol ul ul ul ul ol ul ol li::before,
body ol ul ul ul ul ul ol ol li::before,
body ol ul ul ul ul ul ul ol li::before,
body ul ol ol ol ol ol ol ol li::before,
body ul ol ol ol ol ol ul ol li::before,
body ul ol ol ol ol ul ol ol li::before,
body ul ol ol ol ul ol ol ol li::before,
body ul ol ol ol ol ul ul ol li::before,
body ul ol ol ol ul ol ul ol li::before,
body ul ol ol ol ul ul ol ol li::before,
body ul ol ol ol ul ul ul ol li::before,
body ul ol ol ul ol ol ol ol li::before,
body ul ol ol ul ol ol ul ol li::before,
body ul ol ol ul ol ul ol ol li::before,
body ul ol ol ul ul ol ol ol li::before,
body ul ol ol ul ol ul ul ol li::before,
body ul ol ol ul ul ol ul ol li::before,
body ul ol ol ul ul ul ol ol li::before,
body ul ol ol ul ul ul ul ol li::before,
body ul ol ul ol ol ol ol ol li::before,
body ul ol ul ol ol ol ul ol li::before,
body ul ol ul ol ol ul ol ol li::before,
body ul ol ul ol ul ol ol ol li::before,
body ul ol ul ol ol ul ul ol li::before,
body ul ol ul ol ul ol ul ol li::before,
body ul ol ul ol ul ul ol ol li::before,
body ul ol ul ol ul ul ul ol li::before,
body ul ol ul ul ol ol ol ol li::before,
body ul ol ul ul ol ol ul ol li::before,
body ul ol ul ul ol ul ol ol li::before,
body ul ol ul ul ul ol ol ol li::before,
body ul ol ul ul ol ul ul ol li::before,
body ul ol ul ul ul ol ul ol li::before,
body ul ol ul ul ul ul ol ol li::before,
body ul ol ul ul ul ul ul ol li::before,
body ul ul ol ol ol ol ol ol li::before,
body ul ul ol ol ol ol ul ol li::before,
body ul ul ol ol ol ul ol ol li::before,
body ul ul ol ol ul ol ol ol li::before,
body ul ul ol ol ol ul ul ol li::before,
body ul ul ol ol ul ol ul ol li::before,
body ul ul ol ol ul ul ol ol li::before,
body ul ul ol ol ul ul ul ol li::before,
body ul ul ol ul ol ol ol ol li::before,
body ul ul ol ul ol ol ul ol li::before,
body ul ul ol ul ol ul ol ol li::before,
body ul ul ol ul ul ol ol ol li::before,
body ul ul ol ul ol ul ul ol li::before,
body ul ul ol ul ul ol ul ol li::before,
body ul ul ol ul ul ul ol ol li::before,
body ul ul ol ul ul ul ul ol li::before,
body ul ul ul ol ol ol ol ol li::before,
body ul ul ul ol ol ol ul ol li::before,
body ul ul ul ol ol ul ol ol li::before,
body ul ul ul ol ul ol ol ol li::before,
body ul ul ul ol ol ul ul ol li::before,
body ul ul ul ol ul ol ul ol li::before,
body ul ul ul ol ul ul ol ol li::before,
body ul ul ul ol ul ul ul ol li::before,
body ul ul ul ul ol ol ol ol li::before,
body ul ul ul ul ol ol ul ol li::before,
body ul ul ul ul ol ul ol ol li::before,
body ul ul ul ul ul ol ol ol li::before,
body ul ul ul ul ol ul ul ol li::before,
body ul ul ul ul ul ol ul ol li::before,
body ul ul ul ul ul ul ol ol li::before,
body ul ul ul ul ul ul ul ol li::before,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-8.cm-line div.cm-fold-indicator ~ span.cm-formatting.cm-formatting-list-ol,
body .markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-8.cm-line span.cm-hmd-list-indent ~ span.cm-formatting.cm-formatting-list-ol {
  color: var(--list-colorful-marker-1);
}

body ol ol ol ol ol ol ol ol li::marker,
body ol ol ol ol ol ol ul ol li::marker,
body ol ol ol ol ol ul ol ol li::marker,
body ol ol ol ol ul ol ol ol li::marker,
body ol ol ol ol ol ul ul ol li::marker,
body ol ol ol ol ul ol ul ol li::marker,
body ol ol ol ol ul ul ol ol li::marker,
body ol ol ol ol ul ul ul ol li::marker,
body ol ol ol ul ol ol ol ol li::marker,
body ol ol ol ul ol ol ul ol li::marker,
body ol ol ol ul ol ul ol ol li::marker,
body ol ol ol ul ul ol ol ol li::marker,
body ol ol ol ul ol ul ul ol li::marker,
body ol ol ol ul ul ol ul ol li::marker,
body ol ol ol ul ul ul ol ol li::marker,
body ol ol ol ul ul ul ul ol li::marker,
body ol ol ul ol ol ol ol ol li::marker,
body ol ol ul ol ol ol ul ol li::marker,
body ol ol ul ol ol ul ol ol li::marker,
body ol ol ul ol ul ol ol ol li::marker,
body ol ol ul ol ol ul ul ol li::marker,
body ol ol ul ol ul ol ul ol li::marker,
body ol ol ul ol ul ul ol ol li::marker,
body ol ol ul ol ul ul ul ol li::marker,
body ol ol ul ul ol ol ol ol li::marker,
body ol ol ul ul ol ol ul ol li::marker,
body ol ol ul ul ol ul ol ol li::marker,
body ol ol ul ul ul ol ol ol li::marker,
body ol ol ul ul ol ul ul ol li::marker,
body ol ol ul ul ul ol ul ol li::marker,
body ol ol ul ul ul ul ol ol li::marker,
body ol ol ul ul ul ul ul ol li::marker,
body ol ul ol ol ol ol ol ol li::marker,
body ol ul ol ol ol ol ul ol li::marker,
body ol ul ol ol ol ul ol ol li::marker,
body ol ul ol ol ul ol ol ol li::marker,
body ol ul ol ol ol ul ul ol li::marker,
body ol ul ol ol ul ol ul ol li::marker,
body ol ul ol ol ul ul ol ol li::marker,
body ol ul ol ol ul ul ul ol li::marker,
body ol ul ol ul ol ol ol ol li::marker,
body ol ul ol ul ol ol ul ol li::marker,
body ol ul ol ul ol ul ol ol li::marker,
body ol ul ol ul ul ol ol ol li::marker,
body ol ul ol ul ol ul ul ol li::marker,
body ol ul ol ul ul ol ul ol li::marker,
body ol ul ol ul ul ul ol ol li::marker,
body ol ul ol ul ul ul ul ol li::marker,
body ol ul ul ol ol ol ol ol li::marker,
body ol ul ul ol ol ol ul ol li::marker,
body ol ul ul ol ol ul ol ol li::marker,
body ol ul ul ol ul ol ol ol li::marker,
body ol ul ul ol ol ul ul ol li::marker,
body ol ul ul ol ul ol ul ol li::marker,
body ol ul ul ol ul ul ol ol li::marker,
body ol ul ul ol ul ul ul ol li::marker,
body ol ul ul ul ol ol ol ol li::marker,
body ol ul ul ul ol ol ul ol li::marker,
body ol ul ul ul ol ul ol ol li::marker,
body ol ul ul ul ul ol ol ol li::marker,
body ol ul ul ul ol ul ul ol li::marker,
body ol ul ul ul ul ol ul ol li::marker,
body ol ul ul ul ul ul ol ol li::marker,
body ol ul ul ul ul ul ul ol li::marker,
body ul ol ol ol ol ol ol ol li::marker,
body ul ol ol ol ol ol ul ol li::marker,
body ul ol ol ol ol ul ol ol li::marker,
body ul ol ol ol ul ol ol ol li::marker,
body ul ol ol ol ol ul ul ol li::marker,
body ul ol ol ol ul ol ul ol li::marker,
body ul ol ol ol ul ul ol ol li::marker,
body ul ol ol ol ul ul ul ol li::marker,
body ul ol ol ul ol ol ol ol li::marker,
body ul ol ol ul ol ol ul ol li::marker,
body ul ol ol ul ol ul ol ol li::marker,
body ul ol ol ul ul ol ol ol li::marker,
body ul ol ol ul ol ul ul ol li::marker,
body ul ol ol ul ul ol ul ol li::marker,
body ul ol ol ul ul ul ol ol li::marker,
body ul ol ol ul ul ul ul ol li::marker,
body ul ol ul ol ol ol ol ol li::marker,
body ul ol ul ol ol ol ul ol li::marker,
body ul ol ul ol ol ul ol ol li::marker,
body ul ol ul ol ul ol ol ol li::marker,
body ul ol ul ol ol ul ul ol li::marker,
body ul ol ul ol ul ol ul ol li::marker,
body ul ol ul ol ul ul ol ol li::marker,
body ul ol ul ol ul ul ul ol li::marker,
body ul ol ul ul ol ol ol ol li::marker,
body ul ol ul ul ol ol ul ol li::marker,
body ul ol ul ul ol ul ol ol li::marker,
body ul ol ul ul ul ol ol ol li::marker,
body ul ol ul ul ol ul ul ol li::marker,
body ul ol ul ul ul ol ul ol li::marker,
body ul ol ul ul ul ul ol ol li::marker,
body ul ol ul ul ul ul ul ol li::marker,
body ul ul ol ol ol ol ol ol li::marker,
body ul ul ol ol ol ol ul ol li::marker,
body ul ul ol ol ol ul ol ol li::marker,
body ul ul ol ol ul ol ol ol li::marker,
body ul ul ol ol ol ul ul ol li::marker,
body ul ul ol ol ul ol ul ol li::marker,
body ul ul ol ol ul ul ol ol li::marker,
body ul ul ol ol ul ul ul ol li::marker,
body ul ul ol ul ol ol ol ol li::marker,
body ul ul ol ul ol ol ul ol li::marker,
body ul ul ol ul ol ul ol ol li::marker,
body ul ul ol ul ul ol ol ol li::marker,
body ul ul ol ul ol ul ul ol li::marker,
body ul ul ol ul ul ol ul ol li::marker,
body ul ul ol ul ul ul ol ol li::marker,
body ul ul ol ul ul ul ul ol li::marker,
body ul ul ul ol ol ol ol ol li::marker,
body ul ul ul ol ol ol ul ol li::marker,
body ul ul ul ol ol ul ol ol li::marker,
body ul ul ul ol ul ol ol ol li::marker,
body ul ul ul ol ol ul ul ol li::marker,
body ul ul ul ol ul ol ul ol li::marker,
body ul ul ul ol ul ul ol ol li::marker,
body ul ul ul ol ul ul ul ol li::marker,
body ul ul ul ul ol ol ol ol li::marker,
body ul ul ul ul ol ol ul ol li::marker,
body ul ul ul ul ol ul ol ol li::marker,
body ul ul ul ul ul ol ol ol li::marker,
body ul ul ul ul ol ul ul ol li::marker,
body ul ul ul ul ul ol ul ol li::marker,
body ul ul ul ul ul ul ol ol li::marker,
body ul ul ul ul ul ul ul ol li::marker {
  color: var(--list-colorful-marker-1);
}


@property --colorA {
  syntax: '<color>';
  inherits: false;
  initial-value: #9800f021;
}
@property --colorB {
  syntax: '<color>';
  inherits: false;
  initial-value: #0048f021;
}
@property --colorC {
  syntax: '<color>';
  inherits: false;
  initial-value: #00f02c21;
}

@keyframes rainbow-change {
  20% {
    --colorA: #f0000015;
    --colorB: #88f00015;
    --colorC: #0048f015;
  }
  40% {
    --colorA: #10f00015;
    --colorB: #007cf015;
    --colorC: #6400f015;
  }
  60% {
    --colorA: #d4f00015;
    --colorB: #f0780015;
    --colorC: #f0003c15;
  }
  80% {
    --colorA: #0060f015;
    --colorB: #f0700015;
    --colorC: #00d0f015;
  }
}

@keyframes bead-1 {
  0% {
    transform: scale(1);
    visibility: visible;
  }
  25% {
    margin-left: 20px;
    margin-top: 20px;
    transform: scale(0);
    visibility: hidden;
  }
  50% {
    margin: 0px;
    transform: scale(1);
    visibility: visible;
  }
  100% {
    margin-left: 20px;
    margin-top: -20px;
    transform: scale(0);
    visibility: hidden;
  }
}

@keyframes bead-2 {
  0% {
    transform: scale(1);
    visibility: visible;
  }
  25% {
    margin-left: -20px;
    margin-top: -20px;
    transform: scale(0);
    visibility: hidden;
  }
  50% {
    margin: 0px;
    transform: scale(1);
    visibility: visible;
  }
  100% {
    margin-left: -20px;
    margin-top: 20px;
    transform: scale(0);
    visibility: hidden;
  }
}
