/* ==== fold icons ==== */
.CodeMirror-guttermarker-subtle {
  color: var(--text-normal);
}

/*-- reduce left padding --*/
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting.cm-formatting-header {
  font-size: 0.6rem !important;
  opacity: 0.5;
}

div.CodeMirror-activeline .CodeMirror-line span.cm-formatting.cm-formatting-header {
  font-size: 0.6rem !important;
  opacity: 1;
}

span.cm-formatting.cm-formatting-header {
  opacity: 0.45;
}

